<html>
<head>
    <title>Report a Stackenblochen Violation</title>
    <link rel="stylesheet" href="/static/base.css" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<h1>Report a Stackenblochen Violation</h1>

<p>You help to make the world better by reporting any violation of the Stackenblochen principle!

</p>

<form method="POST" action="/report">

    <div>
        <label>Violation Text (source code, text excerpt, ..)</label>
        <textarea name="violation_text" rows="8" cols="100"></textarea>
    </div>
    <button type="submit">Submit</button>

</form>

</body>
</html>
